.card_info_upper {
    padding-top:0;
}
.menu_right>a {
    color:white;
}
.menu_right>span {
    color:white;
    padding-right: 5px;
}
.login-form {
    padding-top: 100px !important;
}
.starter-template {
    padding-top: 100px;
}
.progressInformation{
    margin-top:5px;
}
.puzzleRankingBox{
    margin-bottom: 15px;
}
#line-chart {
    max-height: 200px;
}
.card_body_graph{
    padding: 0 !important;
    padding-bottom: 15px !important;
}
.user_ranking_header{
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
}
.rankingHistoryElement {
    margin-bottom:0;
    text-align:center;
}
.ratingDifferenceColumns{
    padding-left:0;
    padding-right:0;
}
.puzzle-info-paragraph {
    margin-top:0;
    margin-bottom:0;
}
.game-history-paragraph {
    margin-top:0;
    margin-bottom:0;
}
.history-tab {
    padding-left:0;
}
.difficulty-level-label {
    padding-left: 15px;
    padding-right: 15px;
}
.next-position-button {
    margin-left: 15px;
    margin-top: 15px;
}
.solution-position-button {
    margin-left: 15px;
    margin-top: 15px;
}
.puzzle-theme-row {
    margin-left: 15px;
    width: 100%;
}
.board-theme-row {
    margin-left: 15px;
    width: 50%;
}
.puzzleListElement {
    margin-bottom: 0;
}
.move-turn-icon {
    font-size: 36px;
    margin-right: 10px;
}
.no-margin {
    margin-bottom: 0;
}
.no-left-padding {
    padding-left: 0;
}
.down-margin {
    margin-bottom: 8px;
}
.top-margin {
    margin-top: 8px;
}
.good-move-square {
    background: #acd7b5 !important;
}
.bad-move-square {
    background: #ffadad !important;
}
